__pycache__
.hg
.hgignore
.project
.cproject
.settings
*~
*.a
*.do
*.local
*.o
*.pyc
*.pyo
app/concurrent_philosophers_dinner
app/domain_0
app/domain_2
app/domain_u
app/fork
app/io_interf_v1
app/io_interf_v2
app/io_interf_v3
app/io_interf_v4
app/io_interf_v5
app/io_interf_v2_domain_2
app/io_interf_v3_domain_2
app/io_interf_v4_domain_2
app/io_interf_v1d5
app/io_interf_v1d7
app/multi_domain_as_and_bs
app/parallel_philosophers_dinner
app/ping
app/pc_loader
app/timer_test_v2
bin/eposcc
bin/eposmkbi
etc/eposcc.conf
etc/eposmkbi.conf
img/*.img
img/*.out
img/concurrent_philosophers_dinner
img/domain_2
img/fork
img/io_interf_v1
img/io_interf_v1d5
img/io_interf_v1d7
img/io_interf_v2
img/io_interf_v3
img/io_interf_v4
img/io_interf_v5
img/io_interf_v2_domain_2
img/io_interf_v3_domain_2
img/io_interf_v4_domain_2
img/multi_domain_as_and_bs
img/parallel_philosophers_dinner
img/pc_boot
img/pc_init
img/pc_loader
img/pc_setup
img/pc_system
img/ping
img/ping.img
img/r-ping.net
img/r-ping.out
img/r-ping.pcap
img/s-ping.net
img/s-ping.out
img/s-ping.pcap
img/timer_test_*
src/architecture/ia32/ia32_crt0.s
src/arch/ia32/ia32_crt1.s
src/arch/ia32/ia32_crti.s
src/arch/ia32/ia32_crtn.s
src/boot/pc_boot
src/boot/pc_boot.s
src/init/pc_init
src/setup/pc_setup
src/system/pc_system
tools/eposmkbi/eposmkbi
tools/*.txt
