__pycache__
.hg
.hgignore
.project
.cproject
.settings
*~
*.a
*.do
*.local
*.o
*.pyc
*.pyo
app/concurrent_philosophers_dinner
app/domain_0
app/domain_u
app/fork
app/io_interf_v1
app/io_interf_v1d5
app/parallel_philosophers_dinner
app/ping
app/pc_loader
app/timer_test_v2
bin/eposcc
bin/eposmkbi
etc/eposcc.conf
etc/eposmkbi.conf
img/concurrent_philosophers_dinner
img/concurrent_philosophers_dinner.img
img/concurrent_philosophers_dinner.out
img/fork
img/fork.img
img/fork.out
img/io_interf_v1
img/io_interf_v1d5
img/io_interf_v1.img
img/io_interf_v1d5.img
img/parallel_philosophers_dinner
img/parallel_philosophers_dinner.img
img/parallel_philosophers_dinner.out
img/pc_boot
img/pc_init
img/pc_loader
img/pc_setup
img/pc_system
img/ping
img/ping.img
img/r-ping.net
img/r-ping.out
img/r-ping.pcap
img/s-ping.net
img/s-ping.out
img/s-ping.pcap
img/timer_test_*
src/architecture/ia32/ia32_crt0.s
src/arch/ia32/ia32_crt1.s
src/arch/ia32/ia32_crti.s
src/arch/ia32/ia32_crtn.s
src/boot/pc_boot
src/boot/pc_boot.s
src/init/pc_init
src/setup/pc_setup
src/system/pc_system
tools/eposmkbi/eposmkbi

